<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Edit people</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">

    <!--имя-->
    <label for="name">Имя:</label>
    <input type="text" th:field="*{name}" id="name" />
    <input type="text" th:field="*{age}" id="age" />
    <input type="text" th:field="*{email}" id="email" />
    <br/>
    <input type="submit" value="Update!" />
</form>
</body>
</html>