<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>New people</title>
</head>
<body>
    <form th:method="POST" th:action="@{/people}" th:object="${person}">
        <!--имя-->
        <label for="name">Имя:</label>
        <input type="text" th:field="*{name}" id="name" />
        <!--с помощью такого интересного синтаксиса, мы обращаемся ко всем полям внедряемого объекта который указан в
        th:object. И проверяем - еслть ли ошибки для поля 'name'. Так же, используя синтаксис th:if мы будем создавать
        тег, если значение true. В errors хранятся message из объектов, которые мы указывали-->
        <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
            Сообщение об ошибке, которое будет заменено таймлифом
        </div>

        <!--возраст-->
        <label for="age">Возраст:</label>
        <input type="text" th:field="*{age}" id="age">
        <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">
            Сообщение об ошибке, которое будет заменено таймлифом
        </div>
        <!--email-->
        <label for="email">Почта:</label>
        <input type="text" th:field="*{email}" id="email">
        <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
            Сообщение об ошибке, которое будет заменено таймлифом
        </div>
        <br/>
        <input type="submit" value="Create!" />
    </form>
</body>
</html>